.blog-comments-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  text-align: left;

  .blog-comments-item {

  }

  textarea {
    resize: none;
  }
}

